<select (change)="updateSelect2($event)">
  <option *ngFor="let item of select1Data" [value]="item">{{item}}</option>
</select>
<select (change)="updateSelect3($event)">
  <option *ngFor="let item of select2Data" [value]="item">{{item}}</option>
</select>
<select (change)="updateChart($event)">
  <option *ngFor="let item of select3Data" [value]="item">{{item}}</option>
</select>

<div style="text-align:center">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chartType"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</div>